 #sidebar {
    position:fixed;
    top:0;
    bottom:0;
    left: 25px;
    width: 250px;
    height:1000px;
    background:#48495e;
} 

#image {
    position: relative;
     top:25px;
     left:25px;
}

#title {
    position: relative;
    color:#FFFFFF;
    font-size:70%;
     top:20px;
     left:25px;
}

#bar1 {
    position:fixed;
    top:0;
    bottom:0;
    left: 25px;
   width: 244px;
    border-style: groove;
 border-color:#FFFFFF;
      top:300px;
    height:50px;
    background:#595b75;
}  

#bar2 {
    position:fixed;
    top:350px;
    bottom:0;
    left: 25px;
    width: 244px;
    border-style: groove;
 border-color:#FFFFFF;
    height:50px;
    background:#595b75;
}  

#words1 {
    position: relative;
    color:#FFFFFF;
    font-size:50%;
     top:-25px;
     left:55px;
}

#words2 {
    position: relative;
    color:#FFFFFF;
    font-size:50%;
     top:-25px;
     left:55px;
}

#man {
 positon: relative;
  top:15px;
 left:15px;
}

#paintbrush {
    position: relative;
     top:10px;
 left:10px;
}
